# This is an environment variable that represents the port that the server requires to run
PORT=8080
# This is an environment variable that represents the driver that the connection a mysql requires to run
MySQL_DRIVER=mysql
# This is an environment variable that represents the host that the connection a mysql requires to run
MySQL_HOST=localhost
# This is an environment variable that represents the port that the connection a mysql requires to run
MySQL_PORT=3306
# This is an environment variable that represents the database that the connection a mysql requires to  run
MySQL_DATABASE=products
# This is an environment variable that represents the user that the connection a mysql requires to  run
MySQL_USER=optional
# This is an environment variable that represents the password that the connection a mysql requires to  run
MySQL_PASSWORD=optional